# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Raw data (do NOT track images)
data/raw/

# Keep dataset splits
!data/splits/

# Models (do NOT track trained weights)
models/
*.pt
*.pth

# TensorBoard logs
runs/

# Reports
# Keep evaluation outputs
!reports/
!reports/metrics/
!reports/figures/
!reports/metrics/*.json
!reports/figures/*.png
reports/metrics/*.csv

# Other logs
*.log

# Secrets
.env

# OS / Editor
.DS_Store
.vscode/
.idea/